pipeline/onpremcopy.json
{
	"name": "onpremcopy",
	"properties": {
		"activities": [
			{
				"name": "ListTable",
				"description": "gets a list of tables from the on prem DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n  *\nFROM\n  Pret_DW_Mart.dbo.ExportedTables \nWHERE is_active = 1\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerExportTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy-Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqldatabase",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "@item().Schema_Name",
										"TableName": "@item().Table_Name"
									}
								}
							]
						},
						{
							"name": "SP pipeline LOG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy-Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_UpdateLogTable]",
									"storedProcedureParameters": {
										"CopyActivity_End_Time": {
											"type": "String",
											"value": " @{utcnow()}  "
										},
										"CopyActivity_queuingDuration_in_secs": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.executionDetails[0]. detailedDurations.queuingDuration} "
										},
										"CopyActivity_Start_Time": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.executionDetails[0].start} "
										},
										"CopyActivity_transferDuration_in_secs": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.executionDetails[0]. detailedDurations.transferDuration} "
										},
										"copyDuration_in_secs": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.copyDuration} "
										},
										"DataFactory_Name": {
											"type": "String",
											"value": "@{pipeline().DataFactory} "
										},
										"DataRead": {
											"type": "Int32",
											"value": " @{activity('Copy-Table').output.rowsRead}  "
										},
										"Destination": {
											"type": "String",
											"value": " @{item().dst_name}  "
										},
										"effectiveIntegrationRuntime": {
											"type": "String",
											"value": " @{activity('Copy-Table').output.effectiveIntegrationRuntime}  "
										},
										"Execution_Status": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.executionDetails[0].status} "
										},
										"No_ParallelCopies": {
											"type": "Int32",
											"value": "@{activity('Copy-Table').output.usedParallelCopies} "
										},
										"Pipeline_Name": {
											"type": "String",
											"value": " @{pipeline().Pipeline}  "
										},
										"rowsCopied": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.rowsCopied} "
										},
										"RunID": {
											"type": "String",
											"value": " @{pipeline().RunId}  "
										},
										"Sink_Type": {
											"type": "String",
											"value": " @{activity('Copy-Table').output.executionDetails[0].sink.type}  "
										},
										"Source": {
											"type": "String",
											"value": "@{item().src_name} "
										},
										"Source_Type": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.executionDetails[0].source.type} "
										},
										"TriggerId": {
											"type": "String",
											"value": "@{pipeline().TriggerId} "
										},
										"TriggerName": {
											"type": "String",
											"value": " @{pipeline().TriggerName}  "
										},
										"TriggerTime": {
											"type": "String",
											"value": "@{pipeline().TriggerTime} "
										},
										"TriggerType": {
											"type": "String",
											"value": " @{pipeline().TriggerType}  "
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlSPLOG",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableLOG",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "SP pipeline ERRORS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy-Table",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_UpdateErrorTable]",
									"storedProcedureParameters": {
										"copyDuration_in_secs": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.copyDuration} "
										},
										"DataFactory_Name": {
											"type": "String",
											"value": "@{pipeline().DataFactory} "
										},
										"Destination": {
											"type": "String",
											"value": "@{item().dst_name} "
										},
										"effectiveIntegrationRuntime": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.effectiveIntegrationRuntime} "
										},
										"ErrorCode": {
											"type": "String",
											"value": "@{activity('Copy-Table').error.errorCode} "
										},
										"ErrorDescription": {
											"type": "String",
											"value": "@{activity('Copy-Table').error.message} "
										},
										"ErrorLoggedTime": {
											"type": "String",
											"value": "@utcnow()  "
										},
										"Execution_Status": {
											"type": "String",
											"value": "@{activity('Copy-Table').output.executionDetails[0].status} "
										},
										"FailureType": {
											"type": "String",
											"value": "@concat(activity('Copy-Table').error.message,'failureType:',activity('Copy-Table').error.failureType) "
										},
										"No_ParallelCopies": {
											"type": "Int32",
											"value": "@{activity('Copy-Table').output.usedParallelCopies} "
										},
										"Pipeline_Name": {
											"type": "String",
											"value": "@{pipeline().Pipeline} "
										},
										"RunId": {
											"type": "String",
											"value": "@{pipeline().RunId} "
										},
										"Sink_Type": {
											"type": "String",
											"value": " @{activity('Copy-Table').output.executionDetails[0].sink.type}  "
										},
										"Source": {
											"type": "String",
											"value": " @{item().src_name}  "
										},
										"Source_Type": {
											"type": "String",
											"value": " @{activity('Copy-Table').output.executionDetails[0].source.type}  "
										},
										"TriggerId": {
											"type": "String",
											"value": "@{pipeline().TriggerId} "
										},
										"TriggerName": {
											"type": "String",
											"value": " @{pipeline().TriggerName}  "
										},
										"TriggerTime": {
											"type": "String",
											"value": "@{pipeline().TriggerTime} "
										},
										"TriggerType": {
											"type": "String",
											"value": "@{pipeline().TriggerType} "
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlERROR",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-06-04T11:03:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}